@import url('https://fonts.googleapis.com/css2?family=Cutive&display=swap');
body{
    font-family: 'Cutive', serif;
    background-color: #21222c ;
    margin: 0;
    


}
@media screen and (min-width: 1024px ) {

    .button-container{
margin: 0;
        background-color: #16161e;
        height: 50px;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        
        


   
    }
   .name{
    padding: 0 30px 0 30px;
    position: relative;
    right: 200px;
    color: rgb(212, 212, 212);
    font-size:8px;         
   }
   .button-container nav ul li a:hover{
    color: white;
    text-shadow: 0 0 1rem #87F, 0 0 1rem #87F,
		0 0 1rem #87F
    
      }   .button-container nav a {
        position: relative;
          
                padding: 0 30px 0 30px;
                text-decoration: none;
                color: rgb(212, 212, 212);
                font-size:8px;                
                
} 
.button-container nav{
  position: relative;
 
  left: 200px;}

 .button-container nav ul li{
        display:  inline;

      }
.fondo{
  display: flex;
  justify-content: center;
  
  
    }
      .prueba{
color: #fff;
        justify-content: center;
        
      }
      #hello{
text-align: left;
        text-indent: 40px;
        margin-top: 200px;
        margin-left: -250px;
        font-size: 40px;
        
       
        
      }
      .Aboutme p {

        margin-left: -250px;
        display: flex;
        
        flex-basis: 260px;
        align-items: center;
        text-align: center;
        font-size: 10px;
      }
    
      
    }
    @media screen and (max-width:767px ) {

      
    .button-container{
      margin: 0;
              background-color: #16161e;
              height: 50px;
              width: 100vw;
              display: flex;
              align-items: center;
              justify-content: center;
              
              
      
      
         
          }      .prueba{
            color: #fff;
                    justify-content: center;
                    
                  }
         .name{
          padding: 0 30px 0 30px;
          position: relative;
          right: 100px;
          color: rgb(212, 212, 212);
          font-size:8px;         
         }
         .button-container nav ul li a:hover{
          color: white;
          text-shadow: 0 0 1rem #87F, 0 0 1rem #87F,
          0 0 1rem #87F
          
            }   .button-container nav a {
              position: relative;
                
                      padding: 0 30px 0 30px;
                      text-decoration: none;
                      color: rgb(212, 212, 212);
                      font-size:8px;                
                      
      } 
      .button-container nav{
        position: relative;
       
        left: 100px;}
      
       .button-container nav ul li{
              display:  inline;
      
            }
      .fondo{
        display: flex;
        justify-content: center;
        
        
          }
          #hello{
            text-align: left;
                    text-indent: 40px;
                    margin-top: 100px;
                    margin-left: 20px;
                    font-size: 40px;
                   
                    
                  }
                  .Aboutme p {
                    display: flex;
                    
                    margin-left: 20px;
                    align-items: center;
                    text-align: center;
                    font-size: 10px;
                  }
                
    }
    .fondo2{
      display: flex;
   justify-content: center;
   padding: 5em;
 
     }
     .projects{

       display: flex;
       flex-direction: column;
       padding: 2rem;
     }
     .projects h1{

       font-size: 50px;

     }
     .Datos div img{
       
       width: 20rem;
     
     }
     .Datos {

       display: flex;
       flex-direction: column;
       flex-basis: 260px;
       align-items: center;
       text-align: center;
       font-size: 10px;
     }
     .Datos p{
       color: rgb(203, 200, 200);
     }
   
     .card {
       display: flex;
       justify-content: space-evenly;
       height: 70px;
       width: 270px;
     }
     
     .card svg {
       position: absolute;
       display: flex;
       width: 60%;
       height: 100%;
       font-size: 24px;
       font-weight: 700;
       opacity: 1;
       transition: opacity 0.25s;
       z-index: 2;
       cursor: pointer;
     }
     
     .card .social-link1,.card .social-link2,.card .social-link3,.card .social-link4 {
       position: relative;
       display: flex;
       align-items: center;
       justify-content: center;
       width: 25%;
       color: whitesmoke;
       font-size: 24px;
       text-decoration: none;
       transition: 0.25s;
       border-radius: 50px;
     }
     
     .card svg {
       transform: scale(1);
     }
     
     .card .social-link1:hover {
       background-color: #aa5ea3;
       animation: bounce_613 0.4s linear;
     }
     
     .card .social-link2:hover {
       background-color: #0a66c2;
       animation: bounce_613 0.4s linear;
     }
     
     .card .social-link3:hover {
       background-color: #0059f7;
       animation: bounce_613 0.4s linear;
     }
     
     .card .social-link4:hover {
       background-color: #304e90;
       animation: bounce_613 0.4s linear;
     }
     
     @keyframes bounce_613 {
       40% {
         transform: scale(1.4);
       }
     
       60% {
         transform: scale(0.8);
       }
     
       80% {
         transform: scale(1.2);
       }
     
       100% {
         transform: scale(1);
       }
     }
    